            .button_space{
                
                width: 512px;
                height: 76px;
                background-color: pink;
                display: flex;
                
                border-radius: 5px;
                position: absolute;
                top: 382px;
                align-items: center;
            }
            .button_zone{
                display: flex;
                justify-content: center;
                margin-left: -15%;
                margin-right: auto;
                gap: 60px;
            }

            .startButton{
                margin-right: auto;
                border-radius: 50%;
            }
            .reel_button{
                background-color: blue;
                border-radius: 50%;
            }
            .reel_button.clicked{
                background-color: red;
            }