body{
    background-image: repeating-linear-gradient(to right,white 0 20px,blue 20px 40px);
}
.Cabinet{
    width: 512px; /*640*/
    height: 764px;/*1080*/
    background-color:red;
    color: white;
    text-align: center;
    border-radius: 5px;
    position: relative;
}
.Cabinet::after{
    content: "";
    position: absolute;
    top: 385px;
    left: 512px;

    width: 150px;
    height: 5px;

    background-color: black;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}