.screen{
    width: 460px;
    height: 150px;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    right: 26px;
    bottom: 505px;
}