.under_panel{
                width: 512px;
                height: 306px;
                background-color: purple;
                color: white;
                text-align: center;
                border-radius: 5px;
                position: absolute;
                bottom: 0px;
}