.score_panel{
    width: 300px;
    height: 300px;
    background-color: orange;
    color: white;
    text-align: center;
    border-radius: 5px;
    position: relative;
    right: -620px;
    bottom: 570px;
}
#score{
    width: 250px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 50px;
    text-align: right;
    border-radius: 0px;
    position: relative;
    left: 25px;

}
.score_Button{
    width: 50px;
    height: 50px;
    background-color: red;
}